*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  --footer-toggle-button-color: #0078d4;
  --footer-background-color: #F2F2F2;
  --footer-font-size: 12px;
  --footer-heading-font-size: 15px;
  --footer-heading-font-color: #61616A;
  --primary-button-color: #FFB900;
  --primary-button-hover-color: #005CA5; 
  --primary-button-primary-color: #0067b8;
  --scroll-button-color: #ceced7;
  --font-color: #006DAC;
  --shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 4rem;
  background: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.left-navbar img{
  width: 120px;
}

.mid-navbar-container{
  flex-grow: 1;
  margin: 0 1.5rem;
}

.mid-navbar, .right-navbar{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.mid-navbar-item, .right-navbar-item{
  list-style: none;
}

.mid-navbar-item a, .right-navbar-item span, .mobile-menu a{
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 0.95rem;
}

.right-navbar-item{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.navbar-img1, .navbar-img2{
  width: 16px;
  height: 16px;
}

.navbar-img3{
  width: 32px;
  width: 32px;
}

.right-navbar-item:hover, .mid-navbar-item:hover, .right-navbar-item span:hover{
  cursor: pointer;
  text-decoration: underline;
}

/* Menu Image in header */

.menu-toggle{
  display: none;
  cursor: pointer;
}

.menu-toggle img{
  width: 28px;
  height: 28px;
}

/* Mobile Menu */

.mobile-menu {
  display: none;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: white;
  width: 100%;
  position: fixed;
  top: 60px; 
  left: 0;
  height: calc(100vh - 60px); 
  overflow-y: auto;
  z-index: 1001;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.mobile-menu li {
  margin: 0.5rem 0;
  list-style: none;
}

.mobile-menu.open {
  display: flex;
}

@media screen and (max-width: 900px) {
  .mid-navbar-container,
  .right-navbar-container {
    display: none !important;
  }

  .menu-toggle {
    display: block;
  }
}

/* Hero Section */

.hero-section {
  width: 100%;
  background: linear-gradient(100deg, #544FBA 0%, #299098 100%);
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-section h1 {
  text-align: center;
  padding: 3rem 0 0 0;
  font-size: 3rem;
  color: white;
}

.help {
  display: flex;
  align-items: center;
  margin: 2.5rem;
  background-color: white;
  overflow: hidden;
  width: 30vw; 
  box-shadow: var(--shadow);
}

.help input {
  flex: 1;
  padding: 1rem;
  font-size: 1rem;
  height: auto;
  border: none;
  outline: none;
}

.help img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 2rem;
  }

  .help {
    width: 80vw;
  }

  .help input {
    font-size: 0.95rem;
    padding: 0.8rem;
  }

  .help img {
    width: 1.2rem;
    height: 1.2rem;
  }
}

@media (max-width: 480px) {
  .hero-section h1 {
    font-size: 1.5rem;
  }

  .help {
    width: 100%;
  }

  .help input {
    font-size: 0.9rem;
    padding: 0.7rem;
  }
}

/* Products container */

.product-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: var(--footer-background-color);
  padding: 2rem 0;
}

.product-icons{
  display: flex;
  align-items: end;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 100px;
  gap: 1rem;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
  color: #1b1b1b;
  min-width: 100px;
}

.product img {
  width: 50px;
  height: auto;
  margin-bottom: 0.5rem;
}

.product p {
  margin: 0;
  font-size: 0.95rem;
  font-weight: 600;
}

.more-products{
  padding-left: 14%;
}

.more-products a{
   text-decoration: none;
   color: var(--font-color);
}

@media (max-width: 768px) {
  .product img {
    width: 40px;
  }

  .product p {
    font-size: 0.85rem;
  }
}

@media (max-width: 480px) {
  .product-icons {
    flex-wrap: wrap;
  }

  .product p {
    font-size: 0.8rem;
  }
}






/* Trending Container */
.trending-container {
  width: 100%;
  margin: 3rem 0 0 0;
}

.trending-container h2{
  text-align: center;
  margin-bottom: 2rem;
}

.topics-container{
  display: flex;
  flex-wrap: wrap;
  min-width: 100px;
  justify-content: space-between;
  margin: 1rem 4rem;
}

.trending-topics{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.trending-topics h3{
  cursor: text;
}

.trending-topics a{
  text-decoration: none;
  cursor: pointer;
  color: var(--font-color);
}

.trending-topics a:hover{
  text-decoration: underline;
}

/* Explore Container */
.explore-container {
  width: 100%;
  background-color: var(--footer-background-color);
  margin: 4rem 0;
  padding:  3rem 0;
}

.explore-container h2{
  text-align: center;
}

.explore-boxes{
  display: flex;
  padding:  2rem 4rem;
  gap: 2rem;
}

.explore{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.explore-boxes img{
  width: 100%;
}

.explore a{
  text-transform: uppercase;
  line-height: 1.5rem;
  color: var(--font-color);
  text-decoration: none;
}

/* Productivity */
.productivity{
  width: 100%;
  display: flex;
}

.productivity-container{
  display: flex;
  padding: 2rem 4rem;
  gap: 2rem;
}

.productivity-container img{
  position: relative;
  width: 50%;
}

.productivity-details{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

@media screen and (min-width: 50%){
  .productivity{
    flex-wrap: wrap;
  }
}

.productivity-details button{
  align-self: self-start;
  font-size: 16px;
  background-color: var(--primary-button-primary-color);
  color: white;
  font-weight: bold;
  border: none;
  padding: 1rem 1rem;
  text-transform: uppercase;
}

.productivity-details button:hover{
  background-color: var(--primary-button-hover-color);
  cursor: pointer;
}

.productivity-details a{
  color: var(--font-color);
  text-transform: uppercase;
  text-decoration: none;
}


/* Support Business  */
.business-container{
  width: 100%;
  padding: 4rem 0 0 4rem;
}

.business-details{
  display: flex;
  justify-content: space-around;
}

.business-text{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.business-text a{
  text-transform: uppercase;
  text-decoration: none;
  color: var(--font-color);
}

.business-text a:hover{
  cursor: pointer;
}

/* Support Options */
.support-container{
  width: 100%;
  height: 100%;
  background-color: var(--footer-background-color);
  display: flex;
  flex-direction: column;
  margin: 5rem 0rem;
  padding: 3rem 0;
}

.support-container h2{
  text-align: center;
}

.support-options-container{
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 1.5rem;
}

.support-option{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.support-option a{
  text-decoration: none;
  font-size: 17px;
  color: var(--font-color);
}

.support-option a:hover{
  text-decoration: underline;
}

/* Footer */
footer{
  background-color: var(--footer-background-color);
  width: 100%;
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(10rem, 1fr));
  padding: 3rem 4rem;
}

footer .top-footer{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: 2rem;
}

.top-footer{
  padding-bottom: 2rem;
}

.top-footer a{
  font-size: var(--footer-font-size);
  color: var(--footer-heading-font-color);
}

.top-footer a:hover{
  text-decoration: underline;
  color: black;
}

.top-footer h3{
  font-size: var(--footer-heading-font-size);
  color: var(--footer-heading-font-color);
}

.top-footer div{
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
  gap: 1em;
}

.mid-footer{
  display: flex;
  flex-wrap: wrap;
  margin: 1.5rem;
  gap: 1.5rem;
}

.end-footer{
  display: flex;
  gap: 1rem 2rem;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: end;
}

.end-footer a{
  text-decoration: none;
  font-size: var(--footer-font-size);
  color: var(--footer-heading-font-color);
  margin: 1rem;
}

.end-footer a:hover{
  text-decoration: underline;
  color: black;
}

.end-footer #copy{
  cursor: text;
}

.end-footer #copy:hover{
  cursor: text;
  text-decoration: none;
  color: var(--footer-heading-font-color);
}

.language{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.language img{
  width: 20px;
  background-color: var(--footer-background-color);
  border-radius: 50%;
}

.language a{
  display: inline;
}

.toggle-container {
  display: inline-flex;
  border: 1px solid var(--footer-toggle-button-color);
  border-radius: 999px;
  overflow: hidden;
  font-family: sans-serif;
  width: max-content;
}

.toggle-option {
  padding: 2px 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--footer-font-size);
  cursor: default;
}

.left {
  background-color: var(--footer-toggle-button-color);
  color: white;
}

.right {
  color: #0078d4;
  background-color: white;
  border-left: 1px solid var(--footer-toggle-button-color);
}

.privacy{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.health-privacy{
  display: flex;
  align-items: center;
}

.mid-footer a{
  font-size: var(--footer-font-size);
  color: var(--footer-heading-font-color);
}

.mid-footer a:hover{
  text-decoration: underline;
}